---
import { Image } from 'astro:assets'

import badge1 from '@/assets/aws-certified-solutions-architect-associate.png'
import badge2 from '@/assets/aws-cloud-quest-solutions-architect.png'
import badge3 from '@/assets/aws-partner-technical-accredited.png'
import cloudOneImage from '@/assets/cloud-1.png'
import privatePanelsTile from '@/assets/dscout-logo-tile.png'
import GithubLogo from '@/assets/github-mark.svg'
import LinkedInLogo from '@/assets/linkedin-mark.svg'
import profile1 from '@/assets/profile-1.png'
import profile2 from '@/assets/profile-2.png'
import rainbowCircleImage from '@/assets/rainbow-circle.svg'
import shutTile from '@/assets/shut.png'
import badge4 from '@/assets/well-architected-proficient.png'
import badge5 from '@/assets/well-architected-proficient.png'
import workcodeTile from '@/assets/workcode.png'
import zegraTile from '@/assets/zegra.png'
import Project from '@/components/project.astro'
import Layout from '@/layouts/Layout.astro'

function shuffle<T>(array: T[]): T[] {
  return array
    .map((value) => ({ value, sort: Math.random() }))
    .sort((a, b) => a.sort - b.sort)
    .map(({ value }) => value)
}

const items = [
  'JavaScript',
  'TypeScript',
  'React',
  'Tailwind',
  'Angular',
  'Python',
  'PHP',
  'Laravel',
  'Symfony',
  'Firebase',
  'DigitalOcean',
  'AWS',
  'GCloud',
  'Slack',
  'Jira',
  'Postgres',
  'MySql',
  'Fastify',
  'ExpressJs',
  'MongoDB',
  'React Query',
  'Next.js',
  'Astro',
  'C',
  'Cypress',
  'Tap',
  'Jest',
  'Nginx',
  'Docker',
  'FastAPI',
  'Circle CI',
  'Vercel',
  'GitHib Actions',
  'Git',
]

const row1 = shuffle([...items]).slice(0, 20)
const row2 = shuffle([...items]).slice(0, 20)
const row3 = shuffle([...items]).slice(0, 20)

const projects = [
  {
    cover: {
      src: shutTile,
      alt: 'Shut logo',
    },
    title: 'Shut',
    description:
      'This tool facilitates the synchronization of bookmarks across multiple systems, enhancing operational efficiency and convenience. The objective of the project was to gain a more profound understanding of the recently introduced Next.js framework.',
    curtainColor: '#96ded3',
    githubUrl: 'https://github.com/Michal99Zajac/shut',
  },
  {
    cover: {
      src: workcodeTile,
      alt: 'Workcode logo',
    },
    title: 'Workcode',
    description:
      "This project is part of an engineering thesis. This application facilitates pair programming by providing a simultaneous text editor that allows users to view each other's movements. Additionally, the editor is equipped with a built-in chat feature that facilitates communication among users.",
    curtainColor: '#a5cce3',
    githubUrl: 'https://github.com/Michal99Zajac/workcode',
  },
  {
    cover: {
      src: zegraTile,
      alt: 'Zegra logo',
    },
    title: 'Zegra',
    description:
      'This is the project on which I am currently working in my personal time. This application aims to create a system for intelligent calendar management. The system architecture is based on microservices, facilitating the seamless integration of innovations in areas such as cybersecurity, machine learning, backend, and frontend technologies.',
    curtainColor: '#FAD4C0',
    githubUrl: 'https://github.com/Michal99Zajac/zegra',
  },
  {
    cover: {
      src: privatePanelsTile,
      alt: 'Dscout logo',
    },
    title: 'Dscout Private Panels',
    description:
      'All-in-one software platform designed to streamline research recruitment and panel management for market research and user research teams. It helps researchers find, screen, schedule, and manage participants for studies, automating tasks like personalized recruitment emails and incentive payments.',
    curtainColor: '#41ffa1',
    url: 'https://www.dscout.com/lp/dscout-private-panels',
  },
]
---

<Layout>
  <header class="mb-16 md:mb-20">
    <nav
      class="container mx-auto flex h-20 items-center justify-center gap-x-4 px-6 text-sm md:text-base"
    >
      <a href="#competence">Competence</a>
      <a href="#certifications">Certifications</a>
      <a href="#experience">Experience</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>
  <main class="space-y-32 md:space-y-40">
    <section id="hero" class="container mx-auto px-6">
      <p class="mb-6 text-center md:text-lg">Hi! I'm Michal</p>
      <h1 class="font-libre mb-16 text-center text-3xl md:text-6xl">
        <span
          id="hero-profession"
          class="block h-10 overflow-hidden leading-10 md:h-20 md:leading-20"
        >
          <span class="profession-wrapper">
            <span class="block">Frontend Developer</span>
            <span class="block">Backend Developer</span>
            <span class="block">Data Scientist</span>
            <span class="block">DevOps Engineer</span>
            <span class="block">Frontend Developer</span>
          </span>
        </span>
        <span class="block text-xl md:text-6xl">I'm always here for you</span>
      </h1>
      <div class="relative mb-16 md:mb-32">
        <div class="rainbow-circle-wrapper relative -mx-20 aspect-2/1 overflow-hidden md:mx-0">
          <Image
            src={rainbowCircleImage}
            alt=""
            role="presentation"
            class="animate-duration-2m w-full animate-spin"
          />
          <div class="profile-box">
            <Image
              src={profile2}
              alt="Michal in medieval style illustration"
              class="medieval-profile"
            />
            <Image src={profile1} alt="Michal's professional headshot" class="normal-profile" />
          </div>
        </div>
        <Image
          src={cloudOneImage}
          alt="a"
          role="presentation"
          class="cloud absolute -bottom-[20px] left-[45%] w-[400px] -translate-x-1/2 md:-bottom-[80px] md:w-3/5"
        />
        <Image
          src={cloudOneImage}
          alt="a"
          role="presentation"
          class="cloud animate-duration-30s absolute -bottom-[10px] -left-[80px] w-[220px] md:-bottom-[60px] md:-left-[120px] md:w-1/2"
        />
        <Image
          src={cloudOneImage}
          alt="a"
          role="presentation"
          class="cloud animate-duration-15s absolute -right-[100px] -bottom-[15px] w-[220px] md:-bottom-[60px] md:w-1/2"
        />
      </div>
      <p class="mx-auto text-center text-lg md:w-1/2">
        Simplicity is me! I love transforming complex ideas into simple mechanics, and I do
        everything in my power to make sure everyone on my professional path is satisfied.
      </p>
      <hr class="mx-auto mt-16 h-2 w-3/4 border-dashed md:mt-20 md:w-2/5" />
    </section>
    <section id="competence">
      <div class="container mx-auto px-6">
        <h2 class="font-libre mb-16 text-center text-2xl md:text-3xl">
          A wide range of possibilities!
        </h2>
      </div>
      <div class="overflow-x-hidden whitespace-nowrap">
        <div
          class="animate-marquee-left animate-duration-[140s] mb-4 flex w-max items-center gap-x-4"
        >
          {
            row1.map((item) => (
              <div class="font-libre flex w-max min-w-[200px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 px-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
          {
            row1.map((item) => (
              <div class="font-libre flex w-max min-w-[240px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 p-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
        </div>
        <div
          class="animate-marquee-right animate-duration-[120s] mb-4 flex w-max items-center gap-x-4"
        >
          {
            row2.map((item) => (
              <div class="font-libre flex w-max min-w-[200px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 px-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
          {
            row2.map((item) => (
              <div class="font-libre flex w-max min-w-[240px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 p-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
        </div>
        <div class="animate-marquee-left animate-duration-[100s] flex w-max items-center gap-x-4">
          {
            row3.map((item) => (
              <div class="font-libre flex w-max min-w-[200px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 px-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
          {
            row3.map((item) => (
              <div class="font-libre flex w-max min-w-[240px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 p-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <section id="certifications" class="container mx-auto px-6">
      <h2 class="font-libre mb-6 text-center text-2xl md:text-3xl">
        Tried and tested, ready for more!
      </h2>
      <p class="mb-16 text-center">
        I love learning more after work, and I'm always eager to deliver the best I can!
      </p>
      <div
        class="medals-wrapper mx-auto grid auto-cols-[80px] grid-cols-5 md:w-full md:auto-cols-[240px] md:gap-4"
      >
        <Image
          src={badge5}
          alt="AWS Well-Architected Proficient badge"
          class="medal scale-160 md:translate-x-80 md:scale-80"
        />
        <Image
          src={badge2}
          alt="AWS Cloud Quest Solutions Architect completion badge"
          class="medal z-1 scale-180 md:translate-x-40 md:scale-90"
        />
        <Image
          src={badge1}
          alt="AWS Certified Solutions Architect Associate certification badge"
          class="medal z-2 scale-200 md:scale-100"
        />
        <Image
          src={badge3}
          alt="AWS Partner Technical Accredited certification badge"
          class="medal z-1 scale-180 md:-translate-x-40 md:scale-90"
        />
        <Image
          src={badge4}
          alt="AWS Well-Architected Proficient badge"
          class="medal scale-160 md:-translate-x-80 md:scale-80"
        />
      </div>
    </section>
    <section id="experience" class="container mx-auto px-6 md:px-16 lg:px-32">
      <h2 class="font-libre mb-6 text-2xl md:text-3xl">Not just theory!</h2>
      <p class="mb-16">Projects into which I have poured my heart and soul!</p>
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        {
          projects.map(({ cover, url, githubUrl, curtainColor, description, title }) => (
            <Project
              src={cover.src}
              alt={cover.alt}
              url={url}
              githubUrl={githubUrl}
              curtainColor={curtainColor}
              title={title}
              description={description}
            />
          ))
        }
      </div>
    </section>
  </main>
  <footer id="contact" class="container mx-auto mt-32 px-6 py-32 text-center md:mt-40 md:py-40">
    <h2 class="font-libre mb-6 text-2xl md:text-3xl">I'm online, let's connect!</h2>
    <div class="flex items-center justify-center gap-4">
      <a
        class="btn hover:!bg-pink-100"
        href="mailto:michal.99.zajac@gmail.com"
        aria-label="Email me">@</a
      >
      <a class="btn btn-icon hover:!bg-blue-100" href="https://github.com/Michal99Zajac">
        <GithubLogo width="16" height="16" role="img" aria-label="Check my github profile" />
      </a>
      <a
        class="btn btn-icon hover:!bg-green-100"
        href="https://www.linkedin.com/in/michal-99-zajac/"
      >
        <LinkedInLogo width="16" height="16" role="img" aria-label="Check my linkedin profile" />
      </a>
    </div>
  </footer>
</Layout>

<style>
  @reference "tailwindcss";

  @keyframes cloud-wind {
    0% {
      transform: translateX(0) translateY(0);
    }

    25% {
      transform: translateX(16px) translateY(16px);
    }

    50% {
      transform: translateX(32px) translateY(0);
    }

    75% {
      transform: translateX(16px) translateY(-16px);
    }

    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes cylinder {
    0%,
    22% {
      transform: translateY(0);
    }

    24.5%,
    46.5% {
      transform: translateY(-20%);
    }

    49%,
    71% {
      transform: translateY(-40%);
    }

    73.5%,
    97.5% {
      transform: translateY(-60%);
    }

    100% {
      transform: translateY(-80%);
    }
  }

  .profession-wrapper {
    display: inline-block;
    animation: cylinder 22s linear infinite;
  }

  .cloud {
    animation: cloud-wind 20s ease-in-out infinite;
  }

  .animate-duration-30s {
    animation-duration: 30s;
  }

  .animate-duration-15s {
    animation-duration: 15s;
  }

  .medal {
    transition: all 0.5s ease-in-out;
  }

  .medals-wrapper:hover > .medal {
    translate: 0;
    scale: 100%;
  }

  .animate-duration-2m {
    animation-duration: 120s;
  }

  .rainbow-circle-wrapper:hover > .profile-box {
    @apply rotate-180;
  }

  .profile-box {
    @apply absolute bottom-0 left-1/2 w-[200px] -translate-x-1/2 translate-y-1/2 transition-transform duration-700 ease-in-out md:w-[480px];
  }

  .normal-profile {
    @apply rotate-180;
  }

  .btn {
    @apply aspect-square h-11 rounded-lg border-1 border-dashed border-gray-300 p-2 text-center hover:bg-gray-300;
  }

  .btn-icon > svg {
    @apply inline-block;
  }
</style>
