---
import { Image } from 'astro:assets'

import badge1 from '@/assets/aws-certified-solutions-architect-associate.png'
import badge2 from '@/assets/aws-cloud-quest-solutions-architect.png'
import badge3 from '@/assets/aws-partner-technical-accredited.png'
import cloudOneImage from '@/assets/cloud-1.png'
import privatePanelsTile from '@/assets/dscout-logo-tile.png'
import GithubLogo from '@/assets/github-mark.svg'
import LinkedInLogo from '@/assets/linkedin-mark.svg'
import profile1 from '@/assets/profile-1.png'
import profile2 from '@/assets/profile-2.png'
import rainbowCircleImage from '@/assets/rainbow-circle.svg'
import shutTile from '@/assets/shut.png'
import badge4 from '@/assets/well-architected-proficient.png'
import badge5 from '@/assets/well-architected-proficient.png'
import workcodeTile from '@/assets/workcode.png'
import zegraTile from '@/assets/zegra.png'
import Project from '@/components/project.astro'
import Layout from '@/layouts/Layout.astro'

function shuffle<T>(array: T[]): T[] {
  return array
    .map((value) => ({ value, sort: Math.random() }))
    .sort((a, b) => a.sort - b.sort)
    .map(({ value }) => value)
}

const items = [
  'TypeScript',
  'React',
  'Tailwind',
  'Angular',
  'Python',
  'Vue',
  'Svelte',
  'Solid',
  'SvelteKit',
  'Next.js',
  'Svelte',
  'Solid',
  'SvelteKit',
  'Django',
  'Express',
  'Fastify',
  'Jira',
  'Slack',
  'Postgres',
  'MySql',
  'MongoDB',
  'AWS',
  'Azure',
  'Firebase',
]

const row1 = shuffle([...items]).slice(0, 20)
const row2 = shuffle([...items]).slice(0, 20)
const row3 = shuffle([...items]).slice(0, 20)

const projects = [
  {
    cover: {
      src: shutTile,
      alt: 'Shut logo',
    },
    title: 'Shut',
    description:
      'This tool facilitates the synchronization of bookmarks across multiple systems, enhancing operational efficiency and convenience. The objective of the project was to gain a more profound understanding of the recently introduced Next.js framework.',
    curtainColor: '#96ded3',
    githubUrl: 'https://github.com/Michal99Zajac/shut',
  },
  {
    cover: {
      src: workcodeTile,
      alt: 'Workcode logo',
    },
    title: 'Workcode',
    description:
      "This project is part of an engineering thesis. This application facilitates pair programming by providing a simultaneous text editor that allows users to view each other's movements. Additionally, the editor is equipped with a built-in chat feature that facilitates communication among users.",
    curtainColor: '#a5cce3',
    githubUrl: 'https://github.com/Michal99Zajac/workcode',
  },
  {
    cover: {
      src: zegraTile,
      alt: 'Zegra logo',
    },
    title: 'Zegra',
    description:
      'This is the project on which I am currently working in my personal time. This application aims to create a system for intelligent calendar management. The system architecture is based on microservices, facilitating the seamless integration of innovations in areas such as cybersecurity, machine learning, backend, and frontend technologies.',
    curtainColor: '#FAD4C0',
    githubUrl: 'https://github.com/Michal99Zajac/zegra',
  },
  {
    cover: {
      src: privatePanelsTile,
      alt: 'Dscout logo',
    },
    title: 'Dscout Private Panels',
    description:
      'All-in-one software platform designed to streamline research recruitment and panel management for market research and user research teams. It helps researchers find, screen, schedule, and manage participants for studies, automating tasks like personalized recruitment emails and incentive payments.',
    curtainColor: '#41ffa1',
    url: 'https://www.dscout.com/lp/dscout-private-panels',
  },
]
---

<Layout>
  <header class="mb-32">
    <nav class="container mx-auto flex h-20 items-center justify-center gap-x-6 px-6 py-4">
      <a class="text-base" href="#competence">Competence</a>
      <a class="text-base" href="#certifications">Certifications</a>
      <a class="text-base" href="#experience">Experience</a>
      <a class="text-base" href="#contact">Contact</a>
    </nav>
  </header>
  <main>
    <section id="hero" class="container mx-auto px-6">
      <p class="mb-4 text-center text-lg">Hi! I’m Michal</p>
      <h1 class="font-libre mb-12 text-center text-6xl">
        <span id="hero-profession">Frontend Engineer</span><br />I'm always here for you
      </h1>
      <div class="relative mb-32">
        <div class="rainbow-circle-wrapper relative aspect-2/1 overflow-hidden">
          <Image
            src={rainbowCircleImage}
            alt="RainbowCircle"
            class="animate-duration-2m w-full animate-spin"
          />
          <div class="profile-box">
            <Image src={profile2} alt="Profile2" class="medieval-profile" />
            <Image src={profile1} alt="Profile1" class="normal-profile" />
          </div>
        </div>
        <Image
          src={cloudOneImage}
          alt="CloudOne"
          class="animate-shake animate-infinite animate-duration-[10000ms] animate-ease-linear absolute -bottom-[80px] left-[45%] w-3/5 -translate-x-1/2"
        />
        <Image
          src={cloudOneImage}
          alt="CloudOne"
          class="animate-shake animate-infinite animate-delay-1000 animate-duration-[20000ms] animate-ease-linear absolute -bottom-[100px] -left-[120px] w-1/2"
        />
        <Image
          src={cloudOneImage}
          alt="CloudOne"
          class="animate-shake animate-infinite animate-delay-2000 animate-duration-[20000ms] animate-ease-linear absolute -right-[100px] -bottom-[80px] w-1/2"
        />
      </div>
      <p class="mx-auto w-1/2 text-center text-lg">
        Simplicity is my superpower. I turn complex ideas into experiences users love and investors
        trust. I help SaaS, AI, and Dev founders craft story-driven brands and products.
      </p>
      <hr class="mx-auto my-12 h-2 w-2/5 border-dashed" />
    </section>
    <section id="competence" class="py-16">
      <h2 class="font-libre mb-8 text-center text-3xl">A wide range of possibilities!</h2>
      <div class="overflow-x-hidden whitespace-nowrap">
        <div
          class="animate-marquee-left animate-duration-[140s] mb-4 flex w-max items-center gap-x-4"
        >
          {
            row1.map((item) => (
              <div class="font-libre flex w-max min-w-[200px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 px-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
          {
            row1.map((item) => (
              <div class="font-libre flex w-max min-w-[240px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 p-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
        </div>
        <div
          class="animate-marquee-right animate-duration-[120s] mb-4 flex w-max items-center gap-x-4"
        >
          {
            row2.map((item) => (
              <div class="font-libre flex w-max min-w-[200px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 px-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
          {
            row2.map((item) => (
              <div class="font-libre flex w-max min-w-[240px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 p-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
        </div>
        <div class="animate-marquee-left animate-duration-[100s] flex w-max items-center gap-x-4">
          {
            row3.map((item) => (
              <div class="font-libre flex w-max min-w-[200px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 px-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
          {
            row3.map((item) => (
              <div class="font-libre flex w-max min-w-[240px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 p-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
        </div>
      </div>
    </section>
    <section id="certifications" class="container mx-auto px-32 py-16">
      <h2 class="font-libre mb-4 text-center text-4xl">Tried and tested, ready for more!</h2>
      <p class="mb-12 text-center">
        I love learning more after work, and I'm always eager to deliver the best I can!
      </p>
      <div class="medals-wrapper flex items-center gap-4">
        <Image src={badge5} alt="badge5" class="medal translate-x-80 scale-80" />
        <Image src={badge2} alt="badge2" class="medal z-1 translate-x-40 scale-90" />
        <Image src={badge1} alt="badge1" class="medal z-2" />
        <Image src={badge3} alt="badge3" class="medal z-1 -translate-x-40 scale-90" />
        <Image src={badge4} alt="badge4" class="medal -translate-x-80 scale-80" />
      </div>
    </section>
    <section id="experience" class="container mx-auto px-64 py-32">
      <h2 class="font-libre mb-4 text-4xl">Not just theory!</h2>
      <p class="mb-8">Projects into which I have poured my heart and soul!</p>
      <div class="grid grid-cols-2 gap-6">
        {
          projects.map(({ cover, url, githubUrl, curtainColor, description, title }) => (
            <Project
              src={cover.src}
              alt={cover.alt}
              url={url}
              githubUrl={githubUrl}
              curtainColor={curtainColor}
              title={title}
              description={description}
            />
          ))
        }
      </div>
    </section>
  </main>
  <footer id="contact" class="container mx-auto px-4 py-64 text-center">
    <h2 class="font-libre mb-4 text-4xl">I'm online, let's connect!</h2>
    <div class="flex items-center justify-center gap-4">
      <a class="btn hover:!bg-pink-100" href="mailto:<EMAIL>">@</a>
      <a class="btn btn-icon hover:!bg-blue-100" href="https://github.com">
        <GithubLogo width="16" height="16" />
      </a>
      <a class="btn btn-icon hover:!bg-green-100" href="https://linkedin.com">
        <LinkedInLogo width="16" height="16" />
      </a>
    </div>
  </footer>
</Layout>

<style>
  @reference "tailwindcss";

  .medal {
    transition: all 0.5s ease-in-out;
  }

  .medals-wrapper:hover > .medal {
    translate: 0;
    scale: 100%;
  }

  .animate-duration-2m {
    animation-duration: 120s;
  }

  .rainbow-circle-wrapper:hover > .profile-box {
    @apply rotate-180;
  }

  .profile-box {
    @apply absolute bottom-0 left-1/2 w-[480px] -translate-x-1/2 translate-y-1/2 transition-transform duration-700 ease-in-out;
  }

  .normal-profile {
    @apply rotate-180;
  }

  .btn {
    @apply aspect-square h-11 rounded-lg border-1 border-dashed border-gray-300 p-2 text-center hover:bg-gray-300;
  }

  .btn-icon > svg {
    @apply inline-block;
  }
</style>
