---
import { Image } from 'astro:assets'

import cloudOneImage from '@/assets/cloud-1.png'
import cloudThree from '@/assets/cloud-3.png'
import CurtainSvg from '@/assets/curtain.svg'
import rainbowCircleImage from '@/assets/rainbow-circle.svg'
import Layout from '@/layouts/Layout.astro'

function shuffle<T>(array: T[]): T[] {
  return array
    .map((value) => ({ value, sort: Math.random() }))
    .sort((a, b) => a.sort - b.sort)
    .map(({ value }) => value)
}

const items = [
  'TypeScript',
  'React',
  'Tailwind',
  'Angular',
  'Python',
  'Vue',
  'Svelte',
  'Solid',
  'SvelteKit',
  'Next.js',
  'Svelte',
  'Solid',
  'SvelteKit',
  'Django',
  'Express',
  'Fastify',
  'Jira',
  'Slack',
  'Postgres',
  'MySql',
  'MongoDB',
  'AWS',
  'Azure',
  'Firebase',
]

const row1 = shuffle([...items]).slice(0, 20)
const row2 = shuffle([...items]).slice(0, 20)
const row3 = shuffle([...items]).slice(0, 20)
---

<Layout>
  <header class="mb-32">
    <nav class="container mx-auto flex items-center justify-center gap-x-4 px-6 py-4">
      <a class="text-base" href="#hero">Hero</a>
      <a class="text-base" href="#hero">Hero</a>
      <a class="text-base" href="#hero">Hero</a>
      <a class="text-base" href="#hero">Hero</a>
    </nav>
  </header>
  <main>
    <section class="container mx-auto px-6">
      <p class="mb-4 text-center text-lg">Hi! I’m Michal</p>
      <h1 class="font-libre mb-12 text-center text-6xl">
        <span id="hero-profession">Frontend Engineer</span><br />I'm always here for you
      </h1>
      <div class="relative mb-32">
        <div class="aspect-2/1 overflow-hidden">
          <img
            src={rainbowCircleImage.src}
            alt="RainbowCircle"
            class="animate-duration-[30000ms] w-full animate-spin"
          />
        </div>
        <img
          src={cloudOneImage.src}
          alt="CloudOne"
          class="animate-shake animate-infinite animate-duration-[10000ms] animate-ease-linear absolute -bottom-[80px] left-[45%] w-3/5 -translate-x-1/2"
        />
        <img
          src={cloudOneImage.src}
          alt="CloudOne"
          class="animate-shake animate-infinite animate-delay-1000 animate-duration-[20000ms] animate-ease-linear absolute -bottom-[100px] -left-[120px] w-1/2"
        />
        <img
          src={cloudOneImage.src}
          alt="CloudOne"
          class="animate-shake animate-infinite animate-delay-2000 animate-duration-[20000ms] animate-ease-linear absolute -right-[100px] -bottom-[80px] w-1/2"
        />
      </div>
      <p class="mx-auto w-1/2 text-center text-lg">
        Simplicity is my superpower. I turn complex ideas into experiences users love and investors
        trust. I help SaaS, AI, and Dev founders craft story-driven brands and products.
      </p>
      <hr class="mx-auto my-12 h-2 w-2/5 border-dashed" />
    </section>
    <section class="py-16">
      <h2 class="font-libre mb-8 text-center text-3xl">A wide range of possibilities!</h2>
      <div class="overflow-x-hidden whitespace-nowrap">
        <div
          class="animate-marquee-left animate-duration-[140s] mb-4 flex w-max items-center gap-x-4"
        >
          {
            row1.map((item) => (
              <div class="font-libre flex w-max min-w-[200px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 px-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
          {
            row1.map((item) => (
              <div class="font-libre flex w-max min-w-[240px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 p-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
        </div>
        <div
          class="animate-marquee-right animate-duration-[120s] mb-4 flex w-max items-center gap-x-4"
        >
          {
            row2.map((item) => (
              <div class="font-libre flex w-max min-w-[200px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 px-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
          {
            row2.map((item) => (
              <div class="font-libre flex w-max min-w-[240px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 p-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
        </div>
        <div class="animate-marquee-left animate-duration-[100s] flex w-max items-center gap-x-4">
          {
            row3.map((item) => (
              <div class="font-libre flex w-max min-w-[200px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 px-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
          {
            row3.map((item) => (
              <div class="font-libre flex w-max min-w-[240px] items-center justify-center gap-x-4 rounded-lg border-1 border-dashed border-gray-300 p-4 py-8">
                <span>{item}</span>
              </div>
            ))
          }
        </div>
      </div>
    </section>
    <section class="container mx-auto px-32 py-16">
      <h2 class="font-libre mb-4 text-4xl">Not just theory!</h2>
      <p class="mb-8">Projects into which I have poured my heart and soul!</p>
      <div class="grid auto-rows-[240px] grid-cols-4 grid-rows-[240px_240px_240px_auto] gap-8">
        <div
          class="curtain-wrapper relative col-span-3 row-span-2 overflow-hidden rounded-lg bg-gray-100"
        >
          <Image
            src={cloudThree}
            alt="CLoudf"
            class="h-full w-full rounded-xl border-8 border-gray-300 bg-white object-cover"
          />
          <div class="curtain absolute top-0 left-0 z-1 h-full w-full">
            <div class="relative z-1 p-6">
              <h3 class="font-libre mb-4 text-xl">Dscout Private Panels</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
            <CurtainSvg
              preserveAspectRatio="none"
              class="absolute top-0 left-0 h-full w-full fill-red-300"
            />
          </div>
        </div>
        <div
          class="rounded-lg bg-blue-200 transition-all duration-500 hover:rotate-y-180 hover:bg-green-200"
        >
        </div>
        <div
          class="rounded-lg bg-pink-200 transition-all duration-500 hover:rotate-y-180 hover:bg-yellow-200"
        >
        </div>
        <div class="curtain-wrapper relative col-span-2 overflow-hidden rounded-lg bg-gray-200 p-8">
          <div class="h-full">SkyCentrics</div>
          <div class="curtain absolute top-0 left-0 z-1 h-full w-full">
            <CurtainSvg
              preserveAspectRatio="none"
              class="absolute top-0 left-0 h-full w-full fill-lime-300"
            />
          </div>
        </div>
        <div class="curtain-wrapper relative col-span-2 overflow-hidden rounded-lg bg-gray-200 p-8">
          <div class="h-full">Beans</div>
          <div class="curtain absolute top-0 left-0 z-1 h-full w-full">
            <CurtainSvg
              preserveAspectRatio="none"
              class="absolute top-0 left-0 h-full w-full fill-blue-300"
            />
          </div>
        </div>
        <div
          class="font-libre col-span-4 h-max rounded-full border-1 border-dashed border-gray-300 p-4 text-center text-xl transition-all hover:bg-black hover:text-white"
        >
          Always on the move to get things done. Introducing side projects!
        </div>
        <div class="col-start-1 row-span-2 rounded-lg bg-blue-200"></div>
        <div
          class="curtain-wrapper relative col-span-3 col-start-2 row-span-2 row-start-5 h-full overflow-hidden rounded-lg bg-gray-200 p-8"
        >
          <div class="h-full">Dscout Private Panels</div>
          <div class="curtain absolute top-0 left-0 z-1 h-full w-full">
            <CurtainSvg
              preserveAspectRatio="none"
              class="absolute top-0 left-0 h-full w-full fill-red-300"
            />
          </div>
        </div>
        <div class="col-span-2 rounded-lg bg-gray-200"></div>
        <div class="col-span-2 rounded-lg bg-gray-200"></div>
      </div>
    </section>
  </main>
  <footer class="bg-red-300 px-4 py-16">
    <div class="container mx-auto text-center">
      <div class="flex items-center justify-center gap-4">
        <a
          href="mailto:michal.99.zajac@gmail.com"
          class="h-12 rounded-full bg-black px-4 py-2 text-base leading-8 text-white">Contact Me!</a
        >
        <span class="inline-block h-10 border-r-2 border-dashed"></span>
        <a href="#github">Github</a>
        <a href="#linkedin">LinkedIn</a>
      </div>
    </div>
  </footer>
</Layout>

<style>
  .curtain {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
  }

  .curtain-wrapper:hover .curtain {
    transform: translateY(0);
  }
</style>
